
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  img {
    max-width: 100%;
  }
  .lista-animali {
    width: 100%;
  }
  
  /* Lista animali */
  .lista-ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  .item-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Pulsanti */
  .btn-aggiungi {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 8px 16px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem; 
    transition: background-color 0.3s ease;
    margin: 20px 0;
  }
  
  .btn-aggiungi:hover {
    background-color: #218838; 
  }
  
  .btn-rimuovi {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-rimuovi:hover {
    background-color: #c82333;
  }
  
  /* Modal */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .modal h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .modal input {
    padding: 10px; 
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px;
  }
  
  .modal-buttons button {
    padding: 8px 12px;
    font-size: 0.9rem; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
  }
  
  .modal-buttons button:first-child {
    background-color: #dc3545;
  }
  
  .modal-buttons button:first-child:hover {
    background-color: #c82333;
  }
  
  .modal-buttons button:last-child {
    background-color: #28a745;
  }
  
  .modal-buttons button:last-child:hover {
    background-color: #218838;
  }
  
  
  .errore {
    color: red;
    margin-top: 8px;
    font-size: 0.9rem;
  }
  